@using Sheltos.ViewModel
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";

}

    <!-- home section start -->
    <section class="home-section layout-1 layout-6">
        <div class="home-main">
            <div class="container" >
                <div class="row" >
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="home-left">
                                <div>
                                    <div class="home-slider-1 arrow-light slick-shadow">
                                        <div>
                                            <div class="home-content">
                                                <div>
                                                    <img src="~/assets/images/signature/2.png" class="img-fluid m-0"
                                                         alt="">
                                                    <h6>Want to buy or rent Home ?</h6>
                                                    <h1>Reality Properties solve your problems</h1>
                                                    <a href="submit-property.html"
                                                       class="btn btn-gradient color-6">
                                                        submit
                                                        property
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="home-content">
                                                <div>
                                                    <img src="~/assets/images/signature/2.png" class="img-fluid m-0"
                                                         alt="">
                                                    <h6>Want to buy or sell Land ?</h6>
                                                    <h1>Elegant retreat in quiet Coral Gables</h1>
                                                    <a href="submit-property.html"
                                                       class="btn btn-gradient color-6">
                                                        submit
                                                        property
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- home section end -->
    <!-- property section start -->
    <section class="property-section property-color-6">
        <div class="container">
            <div class="row ratio_55">
                <div class="col">
                    <div class="title-1 color-6">
                        <span class="label label-gradient color-6">Sale</span>
                        <h2>Latest For Sale</h2>
                        <hr>
                    </div>
                    <div class="property-2 row column-space color-6">
                        @foreach (var item in Model.LatestForSale)
                        {
                            <div class="col-xl-4 col-md-6 wow fadeInUp">
                                <div class="property-box">
                                    <div class="property-image">
                                        <div class="property-slider color-6">
                                            @foreach (var image in item.GalleryImages)
                                            {
                                                <a href="javascript:void(0)">
                                                    <img src="@image" class="bg-img" alt="Propertyimage">

                                                </a>
                                            }
                                        </div>
                                        <div class="labels-left">
                                            <div>
                                                <span class="label label-shadow">@item.PropertyStatus</span>
                                            </div>
                                        </div>
                                          
                                        <div class="overlay-property-box">

                                            <a asp-action="Add" asp-controller="Favourite" asp-route-Propertyid="@item.Id" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                               
                                                     <i data-feather="heart"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="property-details">
                                        <span class="font-roboto">@($"{item.City}, {item.State}, {item.Country}")</span>
                                        <a href="Propertydetails.html">
                                            <h3>@item.Title</h3>
                                        </a>
                                        <h6 class="color-6">@item.Price</h6>
                                        <p class="font-roboto">@item.Description</p>
                                        <ul>
                                            <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : @item.Beds</li>
                                            <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : @item.Bathrooms</li>
                                            <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : @item.PropertySize</li>
                                        </ul>
                                        <h5>@item.DateTime</h5>
                                        <div class="property-btn d-flex">
                                             <a  asp-controller="Property" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                                             <a class="btn btn-secondary" asp-controller="ShoppingCart" asp-route-id="@item.Id" asp-action="AddToShoppingCart">Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- property section end -->
    <!-- property section start -->
    <section class="property-section property-color-6">
        <div class="container">
            <div class="row ratio_55">
                <div class="col">
                    <div class="title-1 color-6">
                        <span class="label label-gradient color-6">Rent</span>
                        <h2>Properties</h2>
                        <hr>
                    </div>
                    <div class="property-2 row column-space color-6">
                    @foreach (var item in Model.LatestForRent)
                    {
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <div class="property-slider color-6">
                                        @foreach (var image in item.GalleryImages)
                                        {
                                            <a href="javascript:void(0)">
                                                <img src="@image" class="bg-img" alt="Propertyimage">

                                            </a>
                                        }
                                    </div>
                                    <div class="labels-left">
                                        <div>
                                            <span class="label label-shadow">@item.PropertyStatus</span>
                                        </div>
                                    </div>
                                    
                                    <div class="overlay-property-box">

                                        <a asp-action="Add" asp-controller="Favourite" asp-route-Propertyid="@item.Id" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="property-details">
                                    <span class="font-roboto">@($"{item.City}, {item.State}, {item.Country}")</span>
                                    <a href="Propertydetails.html">
                                        <h3>@item.Title</h3>
                                    </a>
                                    <h6 class="color-6">@item.Price</h6>
                                    <p class="font-roboto">@item.Description</p>
                                    <ul>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : @item.Beds</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : @item.Bathrooms</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : @item.PropertySize</li>
                                    </ul>
                                    <h5>@item.DateTime</h5>
                                    <div class="property-btn d-flex">
                                        <a asp-controller="Property" asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                                        <a class="btn btn-secondary" asp-controller="ShoppingCart" asp-route-id="@item.Id" asp-action="AddToShoppingCart">Add To Cart</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- property section end -->
   