@model List<PendingAgent>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from themes.pixelstrap.com/sheltos/back-end/payments.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Jun 2025 09:42:18 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sheltos - Payments page">
    <meta name="keywords" content="sheltos">
    <meta name="author" content="sheltos">
    <link rel="icon" href="~/assets1/images/favicon.png" type="image/x-icon" />
    <title>Sheltos - Payments page</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

    <!-- datatable css -->
    <link href="../assets/css/jsgrid.css" rel="stylesheet" />

    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="~/assets1/css/animate.css">

    <!-- Template css -->
    <link rel="stylesheet" type="text/css" href="~/assets1/css/admin.css">

</head>

<body>

    <!-- Loader start -->
    <div class="loader-wrapper">
        <div class="row loader-img">
            <div class="col-12">
                <img src="../assets/images/loader/loader-2.gif" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <!-- Loader end -->

    <div class="page-wrapper">

        <!-- page header start -->
        <div class="page-main-header row">
            <div id="sidebar-toggle" class="toggle-sidebar col-auto">
                <i data-feather="chevrons-left"></i>
            </div>
            <div class="nav-right col p-0">
                <ul class="header-menu">
                    <div class="modal-dialog-centered">
                        <h4>Pending Agents</h2>
                    </div>

                    <li class="profile-avatar onhover-dropdown">
                        <div>
                            <img src="~/assets1/images/avatar/3.jpg" class="img-fluid" alt="">
                        </div>
                        <ul class="profile-dropdown onhover-show-div">
                            <li><a asp-action="Dashboard" asp-controller="Admin"><span>Account </span><i data-feather="user"></i></a></li>

                            <li><a asp-action="Login" asp-controller="Account"><span>Log Out</span><i data-feather="log-in"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- page header end -->
        <div class="page-body-wrapper">

            <!-- page sidebar start -->
            <div class="page-sidebar">
                <div class="logo-wrap">
                    <a href="index.html">
                        <img src="~/assets1/images/logo/4.png" class="img-fluid for-light" alt="">
                        <img src="~/assets1/images/logo/9.png" class="img-fluid for-dark" alt="">
                    </a>
                    <div class="back-btn d-lg-none d-inline-block">
                        <i data-feather="chevrons-left"></i>
                    </div>
                </div>
                <div class="main-sidebar">
                    <div class="user-profile">
                        <div class="media">
                            <div class="change-pic">
                                <img src="~/assets1/images/avatar/3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Admin</h4>

                            </div>
                        </div>
                    </div>
                    <div id="mainsidebar">
                        <ul class="sidebar-menu custom-scrollbar">
                            <li class="sidebar-item">
                                <a asp-action="Dashboard" asp-controller="Admin">
                                    <i data-feather="user-plus"></i>
                                    DashBoard
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="javascript:void(0)" class="sidebar-link">
                                    <i data-feather="grid"></i>
                                    <span>Properties</span>
                                </a>
                                <ul class="nav-submenu menu-content">
                                    <li>
                                        <a asp-action="AddProperty" asp-controller="Admin">
                                            <i data-feather="chevrons-right"></i>
                                            Add Property
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-action="List" asp-controller="Admin">
                                            <i data-feather="chevrons-right"></i>
                                            Property List
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a href="javascript:void(0)" class="sidebar-link">
                                    <i data-feather="user-plus"></i>
                                    <span>Agents</span>
                                </a>
                                <ul class="nav-submenu menu-content">

                                    <li>
                                        <a asp-action="AddAgent" asp-controller="Admin">
                                            <i data-feather="chevrons-right"></i>
                                            Add agent
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="PendingAgentsList" asp-controller="Admin">
                                            <i data-feather="chevrons-right"></i>
                                            Pending agents
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="AgentList" asp-controller="Admin">
                                            <i data-feather="chevrons-right"></i>
                                            All agents
                                        </a>
                                    </li>


                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a asp-action="PaymentList" asp-controller="Admin" class="sidebar-link only-link">
                                    <i data-feather="credit-card"></i>
                                    <span>Payments</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a asp-action="MessageList" asp-controller="Admin" class="sidebar-link only-link">
                                    <i data-feather="credit-card"></i>
                                    <span>Messages</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a href="javascript:void(0)" class="sidebar-link">
                                    <i data-feather="unlock"></i>
                                    <span>Authentication</span>
                                </a>
                                <ul class="nav-submenu menu-content">
                                    <li>
                                        <a asp-action="Login" asp-controller="Account">
                                            <i data-feather="chevrons-right"></i>
                                            Log Out
                                        </a>
                                    </li>


                                </ul>
                            </li>
                            <li>
                                <div class="upgrade-box">
                                    <img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/1.svg" class="img-fluid" alt="">
                                    <h6>Need Help</h6>
                                    <a href="https://pixelstrap.freshdesk.com/support/home" target="_blank" class="p-0 m-0">
                                        <span class="d-block">Raise ticket at "support@pixelstrap.com"
                                    </a>


                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- page sidebar end -->

            <div class="page-body">

                <!-- Container-fluid start -->
                <!-- Container-fluid end -->
                <!-- Container-fluid start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body payment-table">
                                    <div class="container my-4">
                                        <h2 class="mb-4">Pending Agents</h2>
                                        <div class="table-responsive">
                                            <table class="table table-bordered align-middle text-center">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Phone-No</th>
                                                        <th>Address  </th>
                                                        <th>NIN-No</th>
                                                        <th>DateOfBirth</th>
                                                        <th>Qualification</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var agent in Model)
                                                    {
                                                        <tr>
                                                            <td>@agent.Id</td>
                                                            <td>@agent.FullName</td>

                                                            <td>@agent.Email</td>
                                                            <td>@agent.PhoneNumber</td>
                                                            <td>@agent.Address</td>
                                                            <td>@agent.NinNo</td>
                                                            <td>@agent.DateOfBirth.ToString("dd/MM/yyy")</td>
                                                            <td>@agent.Qualifications</td>
                                                            <td class="d-flex gap-1">
                                                                
                                                                <form asp-action="ApproveAgent" asp-route-id="@agent.Id" method="post">
                                                                    <button type="submit" class="btn btn-sm btn-success">Approve</button>
                                                                </form>
                                                                <form asp-action="RejectAgent" asp-route-id="@agent.Id" method="post">
                                                                    <button type="submit" class="btn btn-sm btn-danger">Reject</button>
                                                                </form>

                                                            </td>
                                                        </tr>
                                                    }

                                                    <!-- Add remaining rows similarly -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid end -->

            </div>

            <!-- footer start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 footer-copyright">
                            <p class="mb-0">Copyright 2022 © Sheltos All rights reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p class="float-end mb-0">Developed with  <i class="fa fa-heart font-danger"></i></p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->
        </div>
    </div>

    <!-- tap to top start -->
    <div class="tap-top">
        <div>
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>
    <!-- tap to top end -->
    <!-- customizer start -->
    <div class="customizer-wrap">
        <div class="customizer-links">
            <i data-feather="settings"></i>
        </div>
        <div class="customizer-contain custom-scrollbar">
            <div class="setting-back">
                <i data-feather="x"></i>
            </div>
            <div class="layouts-settings">
                <div class="customizer-title">
                    <h6 class="color-4">Layout type</h6>
                </div>
                <div class="option-setting">
                    <span>Light</span>
                    <label class="switch">
                        <input type="checkbox" name="chk1" value="option" class="setting-check"><span class="switch-state"></span>
                    </label>
                    <span>Dark</span>
                </div>
            </div>
            <div class="layouts-settings">
                <div class="customizer-title">
                    <h6 class="color-4">Layout Direction</h6>
                </div>
                <div class="option-setting">
                    <span>LTR</span>
                    <label class="switch">
                        <input type="checkbox" name="chk2" value="option" class="setting-check1"><span class="switch-state"></span>
                    </label>
                    <span>RTL</span>
                </div>
            </div>
            <div class="layouts-settings">
                <div class="customizer-title">
                    <h6 class="color-4">Unlimited Color</h6>
                </div>
                <div class="option-setting unlimited-color-layout">
                    <div class="form-group">
                        <label for="ColorPicker6">color 6</label>
                        <input id="ColorPicker6" type="color" value="#f35d43" name="Default">
                    </div>
                    <div class="form-group">
                        <label for="ColorPicker7">color 7</label>
                        <input id="ColorPicker7" type="color" value="#f34451" name="Default">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- customizer end -->
    <!-- latest jquery-->
    <script src="~/assets1/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets1/js/bootstrap.bundle.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets1/js/feather-icon/feather.min.js"></script>
    <script src="~/assets1/js/feather-icon/feather-icon.js"></script>

    <!-- sidebar js -->
    <script src="~/assets1/js/sidebar.js"></script>

    <script src="~/assets1/js/jsgrid/jsgrid.min.js"></script>
    <script src="~/assets1/js/jsgrid/griddata-payment.js"></script>
    <script src="~/assets1/js/jsgrid/jsgrid-payment.js"></script>

    <!--admin js -->
    <script src="~/assets1/js/admin-script.js"></script>

    <!-- Customizer js-->
    <script src="~/assets1/js/customizer.js"></script>

    <!-- Color-picker js-->
    <script src="~/assets1/js/color/custom-colorpicker.js"></script>

</body>


<!-- Mirrored from themes.pixelstrap.com/sheltos/back-end/payments.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Jun 2025 09:42:19 GMT -->
</html>